<div class="container-md py-5">

  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">💰 新增支出 💵</h5>
          <hr>
          <form method="POST" action="/records/{{record._id}}?_method=PUT" class="was-validated">
            <div class="form-group form-row">
              <label for="record-name" class="col-md-2 col-form-label">
                名稱
              </label>
              <div class="col-md-10">
                <input type="text" name="name" class="form-control is-invalid" id="record-name" placeholder="超美味蟹堡"
                  value="{{record.name}}" required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="record-date" class="col-md-2 col-form-label">
                日期
              </label>
              <div class="col-md-10">
                <input type="date" name="date" class="form-control is-invalid" id="record-date" value="{{record.date}}"
                  required>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="record-category" class="col-md-2 col-form-label">
                類別
              </label>
              <div class="col-md-10">
                <select name="category" id="record-category" class="custom-select" required>
                  <option value="">請選擇...</option>
                  {{#each categories}}
                  <option value="{{this.title}}" {{#is this.title "{{record.category.title}}"}} selected {{/is}}>
                    {{this.title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="form-group form-row">
              <label for="record-amount" class="col-md-2 col-form-label">
                金額
              </label>
              <div class="col-md-10">
                <input type="number" name="amount" class="form-control is-invalid" id="record-amount" placeholder="100"
                  min="1" value="{{record.amount}}" required>
                <small class="text-muted form-text">至少輸入 1 元</small>
              </div>
            </div>

            <button class="btn btn-success" type="submit">儲 存 變 更</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>